*{
    margin: 0px;
    padding: 0px;
}
.navbar ul{
    display: flex;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    /* border: 2px solid red; */
    /* border-bottom: 1px solid grey; */
    justify-content: space-between;
}
.navbar ul{
    display: flex;
    /* justify-content: space-around; */
    
}
.navcenter li{
    text-decoration: none;
}
.navbar li img{
   width: 150px;
   text-decoration: none;
   padding-left: 50px;
}
.navcenter{
    display: flex;
    /* border: 2px solid red; */
    border-radius: 25px;
    /* padding-top: 25px; */
    height: 40px;
    margin: 15px;
    padding-top: 15px;
    width: 330px;
    justify-content: space-evenly;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.navcenter i{
    background-color: red;
    padding: 7px;
    margin-top: -5px;
    color: white;
    border-radius: 50%;

}
.navcenter a{
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
}
.useracc{
    display: flex;
    /* border: 2px solid red; */
  
    width: 250px;
    justify-content: space-around;
    /* margin: auto; */
    padding-right: 55px;
}
.useracc div{
    margin: auto;
} 
.user{
    display: flex;
    /* border: solid red; */
    width: 80px;
    margin: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* ================scroll===================== */


.Parentscroll{
    border: 1px solid grey;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    height: 80px;
    display: flex;
    margin-top: 50px;
}
.scroll{
    display: flex;
    height: 250px !important;
    overflow-x: scroll;
    width: 1200px;
    /* padding: 50px; */
    /* margin: 15px */
    margin-left:40px ;
    margin-top:15px ;
}
.scroll p{
    padding-left: 25px;
}

.scroll::-webkit-scrollbar{
    display: none;
}
.scroll img{
    width: 40px;
    height: 40px;
    margin-left: 30px;
}


.filter{
    margin: auto;
    font-size: 20px;
    /* border: 1px solid; */
    padding: 8px 8px 8px 8px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



/* displaytotal */


.displaytotal{
    display: flex;
    /* border: 1px solid grey; */
    width: 600px;
    margin-top: 40px !important;
    justify-content: space-around;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 70px;
    margin: auto;
}
.displaytotal div{
    /* justify-content: space-around; */
    margin: auto;
}
.displaytotal img{

    
}
.displaytotal div p{
    
}
.displaytotal div:nth-child(1){
    font-size: 20px;
    /* color: red; */
    font-weight: 600;
}
.displaytotal input{
   width: 250px;
   padding-left: 15px;
    height: 30px;

}
.displaytotal div i{
  
  width: 25px;
  height: 25px;
  padding-top: 8px;
  padding-left : 8px;
  padding-bottom: 8px;
  font-weight: 600;
  font-size: 20px;
  /* border: 1px solid; */
}




/* <!-- div middle photos --> */

.container{
    display: grid;
    grid-template-columns: 350px 350px 350px 350px;
    gap: 15px;
    justify-content: space-between;
    /* margin: auto; */
    width: 80%;
}
.container img{
   /* width: 150px; */
   width: 100%;
   height: 300px;
   /* border-radius: 15px; */
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   
}
.container div{
    margin-top: 55px;
    margin-left: 50px;
    width:  330px;
    height: 400px;
    /* border: solid; */
    justify-content: space-evenly;
    border-radius: 15px;
}
.container p{
    /* color: gray; */
}


.btn3 h1{
    padding-left: 500px;
    padding-top: 45px;
}
.btn3 button{
    margin-left: 700px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 140px;
    height: 50px;
    font-size: 15px;
    font-weight: 600;
    background-color: #272829;
    color: white;
    border: 0px;
    border-radius: 10px;
    /* padding-top: 45px; */
}
.btn3 button:hover{
  background-color: black;
  /* color: white ; */
  cursor: pointer;
}








/* --------footercontainer------------------ */
.mainfooter{
    background-color:#F4EEEE;
}
#footer{
    width: 100%;
    margin: auto;
    /* padding-left: 50px; */
    padding-top: 50px;
    /* border: solid; */
   
}
.footercontainer{
    display: grid;
    grid-template-columns: 400px 400px 400px;
    column-gap: 50px;
   
}
.footercontainer div{
    margin: auto;
    padding-bottom: 30px;
    padding-top: 25px;
}
.footercontainer p:nth-child(2){
    color: gray;
    
}



/* footerhead */

.footerhead label {
    /* display: ; */
    margin-right: 35px;
    margin-top: 35px;
    padding-left: 50px;
    /* padding-bottom: 35px; */
    font-size: 20px;
}



.popular{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 20px;
    width: 100%;
    /* margin: auto; */
    justify-content: space-around;
  /* padding-bottom: 50px; */ 
  /* background-color: aliceblue; */
  position: absolute;
  /* display: none; */
  margin-top: -50px;

}

#popular:checked~.popular{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: 100%;
    /* margin: auto; */
    justify-content: space-around;
  /* padding-bottom: 50px; */ 
  /* background-color: ; */
  position: absolute;
  /* display: none; */
  margin-top: -50px;
    
    /* position: absolute; */


}



.artculture{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 20px;
    display: none;
    width: 100%;
    /* margin: auto; */
    justify-content: space-around;
  /* padding-bottom: 50px; */ 
  background-color: rgb(20, 85, 142);
  position: absolute;

  margin-top: -50px;
}

#artculture:checked~.artculture{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: 100%;
    /* margin: auto; */
    justify-content: space-around;
  /* padding-bottom: 50px; */ 
  background-color: #F4EEEE;
  position: absolute;
  /* display: none; */
  margin-top: -65px;

    


} 

.Mountain{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 20px;
    display: none;
    width: 100%;
    /* margin: auto; */
    justify-content: space-around;
  /* padding-bottom: 50px; */ 
  background-color: rgb(20, 85, 142);
  position: absolute;

  margin-top: -50px;
}

#Mountain:checked~.Mountain{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    width: 100%;
    /* margin: auto; */
    justify-content: space-around;
  /* padding-bottom: 50px; */ 
  background-color: #F4EEEE;
  position: absolute;
  /* display: none; */
  margin-top: -65px;

    


} 

.popular div{
 /* font-weight: ; */
}


#footer2{
    display: grid;
    grid-template-columns: footer2;
    grid-template-columns: auto auto  auto ;
    padding-top: 50px;
    padding-left: 100px;
}

#footer2  b {
    font-size: 20px;
    padding-bottom: 15px;
}
#footer2 p{
    /* font-size: 20px; */
    padding-bottom: 10px;
}



/* ===== */

#copyrights{
    display: flex;
    justify-content: space-between;
}

#copy{
    display: flex;
    padding-left: 50px;
    
}

#copy p{
    /* display: flex; */
    padding-left: 15px;

}

#icons{
    display: flex;
    padding-left: 50px;
}
#icons p{
    /* display: flex; */
    padding-left: 15px;

}

#icons i{
    padding-left: px;
    padding-right: 25px;
    /* background-color: black; */
    /* width: 25px; */
    /* margin-left: 10px; */
    /* color: white; */
    border-radius: 100%;
}